<header>
  <a href="/index.html">
    <img class="logo" src="/assets/img/logo/Anna-reverse-transparent.png" />
  </a>
  <div id="languageSelection">
    <a  class="navLink" onclick="german()">DE</a> |
    <a  class="navLink" onclick="english()">EN</a>
  </div>
  <div id="subHeader">
    <div id="subHeaderTop">
      <h1>Anna K. Thomas</h1>
      <h2 id="subHeaderBottom"></h2>
    </div>
    <nav id="desktopNav">
    </nav>
    <div id="burgerMenu" onclick="showMobileMenu()"><img class="burgerMenuImage" src="/assets/img/icons/burger-menu.png"></div>
  </div>
</header>
