<header>
  <a href="/index.html">
    <img class="logo" src="assets/img/logo/Anna-reverse-transparent.png" />
  </a>
  <div id="languageSelection">
    <a onclick="german()">DE</a> |
    <a onclick="english()">EN</a>
  </div>
  <div id="subHeader">
    <div id="subHeaderTop">
      <h1>Anna K. Thomas</h1>
      <h2 id="subHeaderBottom">Geschichten - Hintergründe - Bonuskapitel</h2>
    </div>

    <nav id="desktopNav">
      <a class="navLink" href="/index.html">Über mich</a>
      <a class="navLink" href="/fantasy.html">Fantasy</a>
      <a class="navLink" href="/historical.html">Historisch</a>
      <a class="navLink" href="/novellas.html">Novellen</a>
    </nav>
  </div>
</header>
