body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway';
  overflow-x: hidden;
  color: black;
}

.dNone {
  display: none !important;
}

h1 {
    font-size: 48px;
    font-family: 'Acme';
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h2 {
  font-size: 36px;
  font-family: 'Acme';
}

.mainContainer {
  flex: 1;
  padding: 16px 60px 16px 60px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  color: lightcyan;
  text-shadow: 2px 2px 4px rgba(250, 250, 250, 0.8);
}

#backgroundImage {
    opacity: 0.2;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;    
    z-index: -1;
}